[submodule "modules/user"]
	path = modules/user
	url = git@bitbucket.org:damaxsolutions/damax-admin-vue-bulma-user.git
[submodule "modules/contact"]
	path = modules/contact
	url = git@bitbucket.org:damaxsolutions/damax-admin-vue-bulma-contact.git
